
.container0 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: blue;
  padding: 0 20px;
}
// .logo img {
//   max-width: 300px;
//   max-height: 300px;
// }
.middle-image {
  max-width: 250%;
  max-height: 250px;
  margin: 0 auto;
  display: block;
}
.links {
  display: flex;
  align-items: center;
}

.link {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

.vertical-line {
  height: 20px;
  border-left: 1px solid white;
  margin: 0 10px;
}

@media screen and (max-width: 600px) {
  .container0 {
    flex-direction: column;
    height: auto;
    padding: 20px 0;
    display: none;
  }

  .logo img {
    max-width: 80%; /* Adjust as needed */
    max-height: auto;
    margin-bottom: 10px;
    display: none;
  }

  .middle-image {
    max-width: 80%;
    max-height: auto;
    margin-bottom: 10px;
    display: none;
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .link {
    margin: 10px 0;
  }

  .vertical-line {
    display: none;
  }
}

.container {
  padding: 30px 50px;
}
#search-form {
  width: 40%;
  margin: 0 auto;
  position: relative;
}
#search-form input {
  width: 100%;
  font-size: 1.2rem;
  padding: 10px 20px;
  border: 2px solid #ccc;
  border-radius: 40px;
}
#search-form button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  outline: none;
  border: none;
  width: 3rem;
  text-align: center;
  font-size: 1.75rem;
  cursor: pointer;
  color: #333;
  padding-right: 40px;
}
.info {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 0.75rem;
}

@media (max-width: 1200px) {
  #search-form {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 30px 35px;
  }
  x #search-form {
    width: 100%;
  }
  .info {
    font-size: 0.5rem;
  }
}
/*navbar end*/



.carousel-cell {
  height: 150px;
  width: 150px;
  margin-right: 10px;
  border-radius: 50%;
  margin-top: 20px;
  background-size: cover;
  background-position: center;
  border: 1px solid blue;
  text-align: left;
}

.carousel a {
  text-decoration: none;
}
.carousel-cell::before {
  display: block;
  content: "";
}

span {
  color: black;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-bottom: 20px;
  margin-left: 50px;
}
/* circles end*/

/* squares start*/
* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #444444;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

.section-products {
  padding: 80px 0 54px;
}

.section-products .header {
  margin-bottom: 50px;
}

.section-products .header h3 {
  font-size: 1rem;
  color: #fe302f;
  font-weight: 500;
}

.section-products .header h2 {
  font-size: 2.2rem;
  font-weight: 400;
  color: #444444;
}

.section-products .single-product {
  margin-bottom: 26px;
}

.section-products .single-product .part-1 {
  position: relative;
  height: 290px;
  max-height: 290px;
  margin-bottom: 20px;
  overflow: hidden;
}

.section-products .single-product .part-1::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.3s;
}

.section-products .single-product:hover .part-1::before {
  transform: scale(1.2, 1.2) rotate(5deg);
}

.section-products #product-1 .part-1::before {
  background: url("....") no-repeat center;
  background-size: cover;
  transition: all 0.3s;
}

.section-products #product-2 .part-1::before {
  background: url("...") no-repeat center;
  background-size: cover;
}

.section-products #product-3 .part-1::before {
  background: url("...") no-repeat center;
  background-size: cover;
}

.section-products #product-4 .part-1::before {
  background: url("...") no-repeat center;
  background-size: cover;
}

.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
  position: absolute;
  top: 15px;
  left: 20px;
  color: #ffffff;
  background-color: #fe302f;
  padding: 2px 8px;
  text-transform: uppercase;
  font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
  left: 0;
  background-color: #444444;
}

.section-products .single-product .part-1 ul {
  position: absolute;
  bottom: -41px;
  left: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
  opacity: 0;
  transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
  bottom: 30px;
  opacity: 1;
}

.section-products .single-product .part-1 ul li {
  display: inline-block;
  margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #ffffff;
  color: #444444;
  text-align: center;
  // box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
  transition: color 0.2s;
}

.section-products .single-product .part-1 ul li a:hover {
  color: #fe302f;
}

.section-products .single-product .part-2 .product-title {
  font-size: 1rem;
}

.section-products .single-product .part-2 h4 {
  display: inline-block;
  font-size: 1rem;
}

.section-products .single-product .part-2 .product-old-price {
  position: relative;
  padding: 0 7px;
  margin-right: 2px;
  opacity: 0.6;
}

.section-products .single-product .part-2 .product-old-price::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #444444;
  transform: translateY(-50%);
}
/* squares end*/

/*offer start*/
.offer {
  background-color: blue;
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  color: white;
  font-weight: bold;
}
/*offer end*/


/*chatbot start*/

body0 {
  padding-bottom: 0px;
  font-family: Roboto, sans-serif;
  margin: 0px;
  background-color: white;
  overflow: hidden;
  background: gainsboro;
  display:flex;
}
@media (min-width: 450px) {
  .main-card {
    width: 96%;
    max-width: 400px;
    height: calc(100% - 32px) !important;
    border-radius: 8px !important;
    max-height: 600px;
    margin: 16px!important;
  }
}

.collapsed {
  width: 60px !important;
  height: 60px !important;
  border-radius: 24px !important;
  margin: 16px!important;
}

.main-card {
  background: white;
  color: white;
  width: 100%;
  height: 100%;
  margin: 0px;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  right: 0;
  bottom: 0;
position:fixed;
  transition: all 0.5s;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#chatbot_toggle {
  position: absolute;
  right: 0;
  border: none;
  height: 60px;
  width: 60px;
  background: blue;
  padding: 14px;
  color:white;
}

#chatbot_toggle:hover {
  background: black;
}

.line {
  height: 1px;
  background-color: blue;
  width: 100%;
  opacity: 0.2;
}

.main-title {
  background-color: blue;
  font-size: large;
  font-weight: bold;
  display: flex;
  height: 48px;
}

.main-title>div {
  height:48px;
  width:48px;
  display:flex;
  margin-left:8px;
}

.main-title svg {
  height: 24px;
  margin: auto;
}

.main-title > span {
  margin: auto auto auto 8px;
}

.chat-area {
  flex-grow: 1;
  overflow: auto;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.input-message {
  padding: 8px 48px 8px 16px;
  flex-grow: 1;
  border: none;
}

.input-message:focus {
  outline: none;
}

.input-div {
  height: 48px;
  display: flex;
}

.input-send {
  background: transparent;
  width: 48px;
  height: 48px;
  right: 0%;
  border: none;
  cursor: pointer;
}

.input-send:hover {
  background: lavender;
}

.input-send svg {
  fill: rebeccapurple;
  margin: 11px 8px;
}

.chat-message-div {
  display: flex;
}

.chat-message-sent {
  background-color: white;
  margin: 8px 16px 8px 64px;
  padding: 8px 16px;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 100ms;
  color: black;
  border-radius: 8px 8px 2px 8px;
  background-color: lavender;
}

.chat-message-received {
  background-color: white;
  margin: 8px 64px 8px 16px;
  padding: 8px 16px;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 100ms;
  color: black;
  border-radius: 8px 8px 8px 2px;
  background-color: lavender;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}