body{

  overflow-x: hidden;
}
h2 {
    /* font-weight: 800; */
    color: #3e4455;
    text-align: center;
}

h3 {
    font-size: 1.25rem;
    font-weight: 600;
    color: #3e4455;
}

#deals {
    font-family: 'Poppins', sans-serif;
}

#deals a {
    text-decoration: none;
    cursor: pointer;
    color: #000;
    transition: all 300ms ease;
}

#deals a:hover {
    color: #7141B1;
}

.checked {
    color: orange;
}


.product-list .slick-dots li.slick-active button {
    background: linear-gradient(162.41deg, #43BAFF 1.77%, #7141B1 92.78%);
}

.product-list .slick-dots li button:focus,
.product-list .slick-dots li button:hover {
    outline: none;
    background: linear-gradient(162.41deg, #43BAFF 1.77%, #7141B1 92.78%);
}

.product-list .slick-dots li button::before {
    content: "";
    width: 100%;
    height: 20px;
    position: absolute;
    top: -8px;
    left: 0;
    border-radius: 0;
    border: none;
    transform: unset;
}

.product-list .slick-dots {
    display: block;
    width: 100%;
    padding-left: 0;
    bottom: -13%;
}

.product-list .card::after,
.product-list .card::before {
    left: 0;
    z-index: -1;
    width: 100%;
    content: "";
    height: 100%;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    transition: 500ms all ease;
}

.product-list .card::before {
    background: linear-gradient(162.41deg, #43BAFF 1.77%, #7141B1 92.78%);
}


.product-list .card:hover::before {
    left: 0;
}

.col.my-auto {
    text-align: center;
}

/*---------------- Large devices (desktops, 992px and up)  -----------*/

@media (min-width: 768px) {

    .product-list>.prevArrowBtn {
        left: 5%;
        top: unset;
        border-radius: 0;
    }

    .product-list>.nextArrowBtn {
        left: 10%;
        top: unset;
        right: unset;
        border-radius: 0;
    }

    .product-list .slick-dots {
        width: calc(100% - 175px);
        display: flex;
        justify-content: center;
        padding-left: 12%;
    }

    .product-list .slick-dots li {
        flex-basis: 100%;
        list-style: none;
        margin: 0 0 0 15px;
    }

    .product-list .card:hover::before {
        left: -5px;
    }

    .col.my-auto {
        text-align: unset;
    }
}


@media (min-width: 450px) {
  .main-card {
    width: 96%;
    max-width: 400px;
    height: calc(100% - 32px) !important;
    border-radius: 8px !important;
    max-height: 600px;
    margin: 16px!important;
  }
}

.collapsed {
  width: 48px !important;
  height: 48px !important;
  border-radius: 24px !important;
  margin: 16px!important;
}

.main-card {
  background: white;
  color: white;
  width: 100%;
  height: 100%;
  margin: 0px;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  right: 0;
  bottom: 0;
  position: absolute;
  transition: all 0.5s;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#chatbot_toggle {
  position: absolute;
  right: 0;
  border: none;
  height: 48px;
  width: 48px;
  background: blue;
  padding: 14px;
  color:white;
}

#chatbot_toggle:hover {
  background: blue;
}

.line {
  height: 1px;
  background-color: blue;
  width: 100%;
  opacity: 0.2;
}

.main-title {
  background-color: blue;
  font-size: large;
  font-weight: bold;
  display: flex;
  height: 48px;
}

.main-title>div {
  height:48px;
  width:48px;
  display:flex;
  margin-left:8px;
}

.main-title svg {
  height: 24px;
  margin: auto;
}

.main-title > span {
  margin: auto auto auto 8px;
}

.chat-area {
  flex-grow: 1;
  overflow: auto;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.input-message {
  padding: 8px 48px 8px 16px;
  flex-grow: 1;
  border: none;
}

.input-message:focus {
  outline: none;
}

.input-div {
  height: 48px;
  display: flex;
}

.input-send {
  background: transparent;
  width: 48px;
  height: 48px;
  right: 0%;
  border: none;
  cursor: pointer;
}

.input-send:hover {
  background: lavender;
}

.input-send svg {
  fill: blue;
  margin: 11px 8px;
}

.chat-message-div {
  display: flex;
}

.chat-message-sent {
  background-color: white;
  margin: 8px 16px 8px 64px;
  padding: 8px 16px;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 100ms;
  color: black;
  border-radius: 8px 8px 2px 8px;
  background-color: lavender;
}

.chat-message-received {
  background-color: white;
  margin: 8px 64px 8px 16px;
  padding: 8px 16px;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 100ms;
  color: black;
  border-radius: 8px 8px 8px 2px;
  background-color: lavender;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
