header{
    display: unset !important;
   .header-top{
     background-color: #00a5c8;
     padding: 0 20px;
     .container0 {
       display: flex;
       justify-content: space-between;
       align-items: center;
       height: 50px;
     }
   }

  .logo{
    width: 100px;
    height: 100px;
    

    img{
      width: 100%;
    }
  }
}